<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Your results!</title>
  </head>
  <body>
    <h1>Here are the results for your ping pong test:</h1>
    <p>
      {{ result }}
    </p>

  </body>
</html>
